{% extends "apps/auth/auth.html" %}

{% block body %}
    <div class="row g-0">
        <div class="col-lg-8 pe-lg-2">
            <div class="card mb-3">
                <div class="card-header">
                    <h5 class="mb-0">Sozlamalar</h5>
                </div>
                <div class="card-body bg-light">
                    <form class="row g-3" action="{% url "region" %}" method="post">
                        {% csrf_token %}
                             <div class="col-lg-6">
                                Ismi
                                <input type="text" name="first_name" class="form-control" maxlength="30" id="id_first_name" value="{{ request.user.first_name }}">

                            </div>

                            <div class="col-lg-6">
                                Familiya
                                <input type="text" name="last_name" class="form-control" maxlength="40" id="id_last_name"  value="{{ request.user.last_name}}">

                            </div>
                            <div class="col-lg-6">
                                Viloyat
                             <select name="region" class="form-control" id="id_region">
                                <option value="">Viloyatni tanlang</option>

                           {% for region in regions %}
                                    {% if request.user.district.region.id == region.id %}
                                        <option value="{{ region.id}}" selected >{{ region.name }}</option>
                                    {% else %}
                                          <option value={{ region.id }}>{{ region.name }}</option>
                                    {% endif %}


                           {% endfor %}
                             </select>


                            </div>

                            <div class="col-lg-6">
                                Shahar/Tuman
                                 <select name="district_id" class="form-control" id="id_district">
                                    {% if request.user.district %}
                                        <option value="{{ request.user.district.id}}">{{ request.user.district.name }}</option>

                                    {% endif %}
                                     <option value="Viloyatni tanlang">Tumanni tanlang</option>
                                                {% if id %}
                                             	    {% for region in regions %}
                                                      <option value={{ region.id }}>{{ region.name }} shahar</option>
                                                    {% endfor %}
                                             {% endif %}

                                   </select>
                            </div>

                            <div class="col-lg-6">
                                Manzil
                                <input type="text" name="address" class="form-control" maxlength="200" id="id_location" value="{{ request.user.address}}">

                            </div>

                            <div class="col-lg-6">
                                Telegram id
                                	{% if request.user.telegram_id%}
                                		  <input type="text" name="telegram_id" class="form-control"  value="{{ request.user.telegram_id }}">
                                    {% else %}
                                              <input type="text" name="telegram_id" class="form-control">
                                	{% endif %} 
                              
                                  
                            </div>
                            <div class="col-lg-6">

                                Siz haqingizda
                                <textarea
                                        name="about" cols="40" rows="10" class="form-control" maxlength="399" id="id_description">
                                    {% if request.user.about %}{{ request.user.about }}{% endif %}</textarea>

                            </div>


                            <div class="col-12 d-flex justify-content-end">
                                <button class="btn btn-primary" type="submit">Saqlash</button>
                            </div>

                    </form>
                </div>
            </div>


        </div>
        <div class="col-lg-4 ps-lg-2">
            <div class="sticky-sidebar">


                <div class="card mb-3">
                    <div class="card-header">
                        <h5 class="mb-0">Parolni o'zgartirish</h5>
                    </div>
                    <div class="card-body bg-light">
                        <form action="{% url "change-password" %}" method="post">
                            {% if messages %}
                            	{% for message in messages %}
                                    <h3 style="color:red">{{ message }}</h3>
                            	{% endfor %}
                            	
                            {% endif %} 
                            {% csrf_token %}
                            <div class="mb-3">
                                <label class="form-label" for="old-password">Oldingi parol</label>
                                <input class="form-control" id="old-password" type="password" name="old">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="new-password">Yangi parol</label>
                                <input class="form-control" id="new-password" type="password" name="new">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="confirm-password">Yangi parolni
                                    takrorlash</label>
                                <input class="form-control" id="confirm-password" type="password" name="confirm">
                            </div>
                            <button class="btn btn-primary d-block w-100" type="submit">Parolni yangilash
                            </button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
<script>
    $(document).ready(function () {
        $('#id_region').change(function () {
            let citySelect = $("#id_city")
            const regionId = $(this).val(); // Tanlangan viloyat ID sini olamiz
            const districtSelect = $('#id_district'); // Tumanni tanlash uchun select element
            console.log(citySelect)
            
            if (regionId) {
                $.ajax({
                    url: "{% url 'district' %}", 
                    data: {'region_id': regionId },
                    success: function (data) {
                            console.log(data); 
                            districtSelect.empty(); 
                            districtSelect.append('<option value="">Tumanni tanlang</option>');
                            $.each(data, function (key, value) {
                                districtSelect.append('<option value="' + value.id + '">' + value.name + '</option>');
                            });
                        },
                    error: function () {
                        alert('Tumanlarni yuklashda xatolik yuz berdi.');
                    }
                });
            } 
        });
    });
</script>